.root {
    -fx-background-color: #121212;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

#main-root {
    -fx-background-color: #121212;
}

.table-view {
    -fx-background-color: transparent;
    -fx-base: #121212;
    -fx-control-inner-background: #121212;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 15;
}

.table-view .table-column {
    -fx-border-color: #2a2a2a; /* FÄRG: Vertikala linjer */
    -fx-border-width: 0 1 0 0;
}

.table-row-cell {
    -fx-cell-size: 30;
    -fx-background-insets: 0;
    -fx-background-color: #121212;
    -fx-border-color: #2a2a2a; /* FÄRG: Horisontella linjer */
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #181818;
}

.table-row-cell:selected {
    -fx-background-color: #333333;
}

.table-view .column-header-background {
    -fx-background-color: #1e1e1e;
}

.table-view .column-header {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #333333; /* FÄRG: Linjer i rubriken */
    -fx-border-width: 0 1 1 0;
    -fx-size: 35;
}

.table-view .column-header .label {
    -fx-padding: 0 0 0 20;
    -fx-text-fill: #6085d6;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-cell {
    -fx-padding: 0 0 0 20;
    -fx-text-fill: #e0e0e0;
    -fx-alignment: CENTER_LEFT;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

/* FIXAR FÖRSKJUTNINGEN VID EDITERING */
.table-cell .text-field {
    -fx-padding: 0 0 0 0;
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}