#side-menu {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #2d2d2d;
    -fx-border-width: 0 1 0 0;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #ff9800;
    -fx-font-size: 22px;
    -fx-font-weight: normal;
    -fx-padding: 12 25;
    -fx-cursor: hand;
    -fx-max-width: infinity;
    -fx-alignment: CENTER_LEFT;
}

.menu-button:hover {
    -fx-text-fill: #ffb74d;
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

/* Ändrat från :focused till .active */
.menu-button.active {
    -fx-background-color: rgba(255, 255, 255, 0.03);
    -fx-border-color: #5cacee;
    -fx-border-width: 0 0 0 3;
    -fx-text-fill: #ff9800;
}